<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/content/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Mock Pie Shop" src="~/images/bethanylogo.png" />
                </p>
            </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
        </div>
    </div>
</body>
</html>
